# Data Science Tools and Ecosystem

### Introduccion
In this notebook, Data Science Tools and Ecosystem are summarized.

## **This is my first Jupyter notebook and I have covered the following tasks:**

### objetives
* Create a Jupyter Notebook
* Insert Code
* Insert markdown
### List of data science tools
* Jupyter Notebook
* Rstudio
* Apache Zeppelin
### Commonly used data science libraries
* Pandas
* Numpys
* Lattice

### Some of the popular languages that Data Scientists use are:
1. Julia
2. R
3. Sql
4. Python

## Description
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpys
3. Lattice

|Data Science Tools|
|-|
|Jupyter Notebook|
| Rstudio|
|Apache Zeppelin|

### <u> Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [116]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [127]:
minutos = 200
horas = minutos / 60
horas

3.3333333333333335

## **Author**
## Francisco Santiago Ruiz